<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="H:/ISTQB/Testing/Testinng/Dsquare/DSquares/src/test/java/tests">
        <classes>
            <class name="tests.FileUploadTest">
                <methods>
                    <include name="welcomeTest"/>
                </methods>
            </class>
            <class name="tests.DynamicLoadingTest">
                <methods>
                    <include name="testDynamicLoading"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>